.background {
    background-image: url('../../../assets/images/landing-image-4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 25%;
    padding-bottom: 25%;
}

.centerdiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}